body{
  margin:5em;
  padding-left:15em;
  font-family:DFKai-sb,MingLiU,Helvetica, Geneva, Arial;
  color:purple;
  background-color:#ccff99}
ul.navbar{
  list-style-type: none;
  padding:14px;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 8em}  
h1{
   font-family:DFKai-sb,MingLiU,Helvetica, Geneva, Arial;
   weight:700;
   size:16;
   color:#ff0000}
ul.navbar li {
  color = orange;
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid #ff44aa }
ul.navbar a {text-decoration: none }
  a:link {color: orange; }
  a:visited{color: purple; }
table{
  border:2px solid #FF44AA}
  td{
    background-color:#FFCCCC}
  .fail{
    color:#CCEEFF}
div.hello{
   color=#33FF33}
.gotop{
  color:rgba(226,248,156,0.9)
  position:fixed;
  bottom:2vh;
  right:5vh;
  cursor:pointer;
} 
