body{
  margin:40em;
  padding-left:20em;
  font-family:DFKai-sb,MingLiU,Helvetica, Geneva, Arial;
  color:purple;
  background-color:#ccff99}
ul.navbar{
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 8em}  
h1{
  font-family:DFKai-sb,MingLiU,Helvetica, Geneva, Arial;
  weight:900;
  size:14;
  color:orange}
ul.navbar li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid red }
ul.navbar a {
  text-decoration: none }
  a:link {
    color: yellow }
  a:visited {
    color: purple }
table{
  border:2px solid #FF44AA}
  td{
    background-color:#FFCCCC}
  .fail{
    color:#CCEEFF}
address{
  address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted}}    
